/* 
-------------------
Start Mobile Views
-------------------
*/

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: none;
}

.maintop {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 15px;
}

.maintopinfo {
  width: 380px;
  align-self: center;
}

.maintoplinks {
  width: 380px;
  align-self: center;
}

.mainmiddle {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: white;
}

.mainbottom {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainbottomlinks {
  display: flex;
  width: 360px;
  align-self: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.footer a {
  margin: .5rem;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.title {
  line-height: 1.15;
  font-size: 2rem;
  margin: 20px 0px 0px 0px;
}

h6.description {
  font-size: 1rem;
  margin-top: 59px;
  margin-bottom: 15px;
}

.description {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.feature {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.features {
  align-self: center;
  padding: 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  height: 2.75rem;
  font-size: 2rem;
  margin: 0px;
}

.signup, .login, .secondsignup, .secondlogin {
  display: flex;
  align-items: center;
  justify-content:center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 9999px;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 40px;
}

.mainbottom a {
  width: 45%;
  padding-top: 39px;
  padding-bottom: 30px;
}

.signup, .secondsignup {
  color: white;
  background-color: #0070f3;
}

.login, .secondlogin {
  background-color: orange;
  border: solid 1px #0070f3;
}

.secondlogin {
  margin-left: 10px;
}

.secondsignup {
  margin-right: 10px;
}

/* Mobile Views End */

/* 
-------------------
Start Tablet Views
-------------------
*/

@media (min-width: 800px) {
  .main {
    flex-direction: row-reverse;
    width: 100%;
  }

  .maintop, .mainmiddle, .mainbottom, .footer {
    width: auto;
  }

  .formwrapper, .mainmiddle {
    width: 50%;
  }

  .mainbottomlinks {
    display: none;
  }

  .mainmiddle {
    align-self: stretch;
    background-image: url('../pages/favicon.ico');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer, .footerlinks {
    margin: 0px;
    padding: 0px;
  }
}

/* End Tablet Views */


/* 
-------------------
Start Desktop Views
-------------------
*/

@media (min-width: 1000px) {
.form {
  display: flex;
  justify-content: space-around;
}

.username, .password {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  border-radius: 5px;
}

.main {
  align-items: stretch;
}

.formwrapper {
  justify-content: space-between;
}

}