/* 
-------------------
Start Mobile Views
-------------------
*/

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(116,42,124);
  background: linear-gradient(45deg, rgba(116,42,124,1) 0%, rgba(221,28,80,1) 35%, rgba(238,220,19,1) 100%);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: none;
}

.maintop {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 15px;
}

.maintoplinks, .maintopinfo {
  width: 320px;
  align-self: center;

}

.title {
  display: none;
}

.mainmiddle {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    background: black;
  }
  
  .mainbottom {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .mainbottom a {
    width: 45%;
    padding-top: 39px;
    padding-bottom: 30px;
  }

.mainbottomlinks {
  display: flex;
  width: 320px;
  align-self: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  color: white;
}

.footer a {
  margin: .5rem;
}

.footerlinks {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.hero, .title {
  line-height: 1.15;
  font-size: 2rem;
  margin: 20px 0px 0px 0px;
  color: white;
  font-weight: bold;
}

h6.description {
  font-size: 1rem;
  margin-top: 59px;
  margin-bottom: 15px;
}

.description {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.feature {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.features {
  align-self: center;
  padding: 15px;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  height: 2.75rem;
  font-size: 2rem;
  margin: 0px;
}

.signup, .login, .secondsignup, .secondlogin {
  display: flex;
  align-items: center;
  justify-content:center;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 9999px;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 40px;
}


.signup, .secondsignup {
  color: white;
  background-color: #aa0061;
}

.login, .secondlogin {
  background-color: #eedc13;
  border: solid 1px #aa0061;
  color: #742a7c;
}

.secondlogin {
  margin-left: 10px;
}

.secondsignup {
  margin-right: 10px;
}

/* Mobile Views End */

/* 
-------------------
Start Tablet Views
-------------------
*/

@media (min-width: 800px) {
  .main {
    flex-direction: row-reverse;
    width: 100%;
  }

  .maintop, .mainmiddle, .mainbottom, .footer {
    width: auto;
  }

  .formwrapper, .mainmiddle {
    width: 50%;
  }

  .nontitle {
    display: none;
  }

  .title {
    display: inline;
    width: 50px;
    margin-left: 1rem;
  }

  .mainmiddle {
    align-self: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
  }

  .mainbottomlinks {
    display: none;
  }

  .footer, .footerlinks {
    margin: 0px;
    padding: 0px;
  }
}

/* End Tablet Views */


/* 
-------------------
Start Desktop Views
-------------------
*/

@media (min-width: 1300px) {
.form {
  display: flex;
  justify-content: space-around;
}

.username, .password {
  display: flex;
  flex-direction: column;
  border: 1px solid #aa0061;
  border-radius: 5px;
}

.main {
  align-items: stretch;
}

.formwrapper {
  justify-content: space-between;
}

}